N8n-Slack Workflow1.json
{
  "name": "N8n-Slack Workflow1",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0BFNR9JT1N",
          "mode": "list",
          "cachedResultName": "all-n8n-workspace-1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e5ec284e-b2a3-4418-a398-7e4b03851ce6",
      "name": "Slack Trigger",
      "webhookId": "0940ba12-b16f-4796-aa05-7bbbd3081b3f",
      "credentials": {
        "slackApi": {
          "id": "GvQmOpfSQBfIMwcd",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2c52118-d9f6-40de-b20a-fe7329bd8fad",
              "name": "Recipe",
              "value": "={{ $json.blocks[0].elements[0].elements[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "5b043629-d250-4e03-ab4f-c155f05de4e2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful cooking assistant.  The user wants to prepare this recipe:  {{ $json.Recipe }}  Generate a shopping list of all the ingredients required.  Instructions: - List only the ingredients. - Include approximate quantities. - Use bullet points. - Keep the response short and practical. - If the recipe name is unclear or empty, politely ask the user to enter a valid recipe name.  Example Output:  To make Paneer Butter Masala, you will need:  • 250g Paneer • 3 Tomatoes • 2 Onions • 2 tbsp Butter • 10 Cashews • 1 tsp Ginger Garlic Paste • ½ cup Fresh Cream • Salt • Red Chilli Powder • Garam Masala",
        "messages": {
          "messageValues": [
            {
              "message": "You are a helpful cooking assistant.  Generate a shopping list...  ..."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        416,
        0
      ],
      "id": "e1e0b12b-4ce8-4579-ab9e-5a974ee40f32",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "2c823353-63ad-479d-976c-1e6cc156826b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FyH3Pfz0L4rzTnvd",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response\nconst response = $input.first().json.text;\n\n// Clean escaped newlines\nconst cleaned = response\n  .replace(/\\\\n/g, \"\\n\")\n  .replace(/\\n\\n+/g, \"\\n\")\n  .trim();\n\n// Return formatted text\nreturn [\n  {\n    json: {\n      message: cleaned\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "611873cc-694b-4708-8478-3890bbf2e984",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BFNR9JT1N",
          "mode": "list",
          "cachedResultName": "all-n8n-workspace-1"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        976,
        0
      ],
      "id": "ca1b4fe3-122a-4e30-8d5b-24ab68853735",
      "name": "Send a message",
      "webhookId": "0fe1b807-56c4-4e3d-802a-4c28dc078deb",
      "credentials": {
        "slackApi": {
          "id": "GvQmOpfSQBfIMwcd",
          "name": "Slack account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0cc31a7e-1e5b-4803-bf8f-4a288c62c295",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3e974bb9e45d4f2c01abe4362455148418cf3e5cffd03c8865e3f98ceb511fe"
  },
  "nodeGroups": [],
  "id": "4mNEtMTsN08cp1zp",
  "tags": []
}